.orderInfo {
  box-sizing: border-box;
  border-top: 1px solid #D9D9D9;
  padding: 10px 10px;
  width: 100%;
  overflow-x: scroll;
  font-size: 16px;
}
.orderInfo strong {
  float: left;
  font-weight: 400;
  display: block;
  width: 37%;
  min-width: 112px;
}
.orderInfo span {
  float: left;
  display: block;
  color: #999;
  width: 62%;
  overflow: scroll;
  white-space: nowrap;
}
